@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
  min-height: 100%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @media (max-width: $large) {
    font-size: 60%;
  }
  @media (max-width: $medium) {
    font-size: 50%;
  }

  @media (max-width: $xxSmall) {
    font-size: 35%;
  }
}

body {
  background-color: $black;
  font-family: $font-family;
  transition: all 0.3s ease;

  &::-webkit-scrollbar {
    display: none;
  }
}

p,
h1,
h2,
h3,
a,
span {
  &::selection {
    background: green;
  }
}

.light {
  background-color: $bg-light;

  p,
  .nav-links a {
    color: $black;
  }

  .btn {
    border: 1px solid $black;
    background-color: $bg-light;
  }

  header {
    border-bottom: 1px solid $neutral;
  }

  .section-header {
    border-bottom: 1px solid $neutral;
    border-top: 1px solid $neutral;
  }

  .hero-section {
    h2 {
      color: #707070;
      span {
        color: $black;
      }
    }
  }

  .about-section {
    p {
      filter: invert(0.4);
      color: #131313;
      mix-blend-mode: difference;
    }

    .btn {
      filter: invert(0.3);
      background: none;
    }

    .image-border {
      border: 1px solid $black;
      filter: invert(0.5);
    }

    .image {
      img {
        filter: saturate(0%);
        background-color: $bg-light;
      }
    }
  }

  .work-section {
    .project {
      border-top: 1px solid $neutral;
      &:hover {
        .dot {
          filter: invert(1);
        }

        h3 {
          filter: invert(1);
        }

        .skills {
          span {
            filter: invert(0.7);
          }
        }
      }
    }
  }

  .contact-section {
    .socials {
      ul {
        li {
          a,
          svg {
            color: $neutral;
            fill: $black;
          }
        }
      }
    }
    .footer {
      .credits {
        p {
          color: $black;
          a {
            color: $neutral;
          }
        }
      }

      .email-container {
        .email {
          h2 {
            color: $black;
            &::after {
              background-color: $neutral;
            }
          }
        }
      }
    }
  }

  .skills-section {
    border-bottom: 1px solid $neutral;
  }
}

h1,
h2,
h3 {
  font-weight: $font-weight;
}

h1 {
  font-size: $h1-font-size;

  @media (min-width: $large) {
    font-size: 10rem;
  }

  @media (max-width: $small) {
    font-size: 6rem;
  }
}

h2 {
  font-size: $h2-font-size;
  color: $neutral;
  line-height: 8.8rem;

  @media (max-width: 700px) {
    font-size: 6rem;
  }
  // @media (max-width: 500px) {
  //   font-size: 4rem;
  // }
  span {
    color: $white;
  }
}

h3 {
  font-size: $h3-font-size;
  color: $neutral;
  line-height: 6.8rem;
}

p {
  all: unset;
  // font-weight: 300;
  font-size: $p-font-size;
  line-height: 2.5rem;
  color: $white;
}

b {
  font-weight: $bold-font-weight;
}

.container {
  max-width: 90%;
  margin: auto;

  @media (min-width: $xLarge) {
    max-width: $xLarge;
  }
}

.d-flex {
  display: flex;
}

.preloader-section {
  .section-header .content {
    animation: marqueeRight 5s linear infinite;
  }
}

header {
  padding: 2rem 0;
  border-bottom: 1px solid $neutral2;

  .header {
    display: flex;
    align-items: center;

    .controls {
      flex-grow: 1;
      display: flex;
      justify-content: end;
      align-items: center;

      .nav-links {
        @media (max-width: $small) {
          display: none;
        }
      }
    }
  }
}

.nav-links,
.header-buttons {
  margin: 0px 20px;
}

.nav-links a {
  all: unset;
  font-style: light;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  align-items: center;
  color: $white;
  cursor: pointer;
  text-decoration: none;
  margin: 0 2rem;

  &:hover {
    transform: scale(150%);
  }
}

.btn {
  padding: 1rem 10rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  align-items: center;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 1rem;
  position: relative;
  width: 18rem;
  height: 3.5rem;
  border: 1px solid $white;
  overflow: hidden;

  span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }

  &::after {
    display: block;
    position: absolute;
    transform: translate(-50%, 50%);
    opacity: 0;
    width: 100%;
    top: 50%;
    left: 50%;

    transition: all 0.3s ease;
  }

  &:hover {
    span {
      opacity: 0;
      transform: translate(-50%, -150%);
      transition-duration: 0.2s;
    }

    &::after {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.btn_download {
  @media (max-width: $xSmall) {
    // display: none;
    margin: 0 0;
  }
  &::after {
    content: "DOWNLOAD RESUME";
  }
}

.hero-section {
  h2 {
    @media (max-width: $small) {
      // font-weight: 600;
    }
  }
  .container {
    display: flex;
    align-items: end;
    width: 100%;
  }

  br {
    @media (max-width: 700px) {
      display: none;
    }
  }

  padding: 15rem 0;
  border-bottom: 1px solid $neutral2;

  @media (max-width: $small) {
    padding: 5rem 0rem;
  }

  .text-content {
    flex-grow: 1;
  }
  .images {
    margin: 0rem 0rem;
    align-items: end;
    justify-content: start;
    display: flex;
    img {
      width: 25rem;
      margin: 2rem 3rem;

      @media (max-width: 700px) {
        margin: 2rem 0rem;
      }
    }
  }

  .t1 {
    display: flex;
    @media (max-width: 700px) {
      flex-direction: column-reverse;
    }
    h2 {
      display: inline-block;
    }
  }
}

.scroller {
  // justify-self: end;
  display: flex;
  justify-content: end;
  position: relative;

  @media (max-width: 890px) {
    display: none;
  }
  .bg {
    // position: absolute;
    background-color: $white;
    padding: 2.5rem;
    border-radius: 50%;
    bottom: 0;

    @media (max-width: $medium) {
      padding: 2rem;
    }
  }
  .circle {
    position: relative;
    height: 24rem;
    width: 24rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    @media (max-width: $medium) {
      height: 20rem;
      width: 20rem;
    }

    .roundText {
      width: 100%;
      height: 100%;
      position: absolute;
      color: $black;
      animation: rotateText 10s linear infinite;

      @keyframes rotateText {
        0% {
          transform: rotate(-360deg);
        }
      }

      p {
        color: $black;
      }
      span {
        position: absolute;
        left: 50%;
        transform-origin: 0 12rem;

        @media (max-width: $medium) {
          transform-origin: 0 10rem;
        }
      }
    }
  }
}

.section-header {
  padding: 5rem 0;
  border-bottom: 1px solid $neutral2;
  display: flex;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  &.vertical {
    // rotate: 90deg;
    position: absolute;
    // right: 10;
    // top: 20;
  }

  @media (max-width: $small) {
    .arrow {
      width: 5rem;
    }

    padding: 2.5rem 0;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @keyframes marqueeRight {
      from {
        transform: translateX(-50%);
      }
      to {
        transform: translateX(0);
      }
    }

    @keyframes marqueeLeft {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }

    div {
      display: flex;
      align-items: center;
      margin: 0 2rem;
    }
  }

  h1 {
    display: inline;
    color: $white;

    span {
      color: #242424;
    }
  }

  .arrow {
    margin: 0 3rem;
  }
}

.about-section {
  border-bottom: 1px solid $neutral2;

  .section-header .content {
    animation: marqueeRight 5s linear infinite;
  }

  .image {
    position: relative;
  }
  .image-border {
    border: 1px solid $neutral2;
    width: 60.4rem;
    height: 34rem;
    position: absolute;
    transition: all 0.3s ease;
    z-index: -1;

    @media (max-width: $small) {
      margin-left: 0rem;
      margin-top: 0rem;
      width: 100%;
      height: 90%;
    }
  }

  img {
    transition: all 0.3s ease;
    width: 62rem;
    @media (max-width: $small) {
      margin-left: 0rem;
      margin-top: 0rem;
      width: 90vw;
    }
  }

  .text {
    width: 75rem;
    margin-left: 30rem;
    margin-top: -5rem;
    z-index: 2;

    @media (max-width: $small) {
      margin-left: 0rem;
      margin-top: 5rem;
      width: 100%;
    }

    @media (max-width: $xSmall) {
      width: 100%;
    }

    P {
      display: inline-block;
      line-height: 3rem;
      text-transform: uppercase;

      b {
        font-style: italic;
      }
    }

    .btn {
      margin: 2rem 0;

      &::after {
        content: "GET IN TOUCH";
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15rem 0;
    @media (max-width: $small) {
      padding: 10rem 0;
    }
  }
  .container:hover {
    .image-border {
      transform: translate(-1.5%, -2.5%);
    }

    img {
      transform: translate(1.5%, 2.5%);
    }
  }
}

.work-section {
  .section-header .content {
    animation: marqueeLeft 5s linear infinite;
  }

  .projects {
    .project {
      border-bottom: 1px solid $neutral2;
      position: relative;
      &:hover {
        .dot {
          transform: translate(0, 0);
          background-color: $white;
        }

        h3 {
          transform: translate(0, 0);
          color: $white;
        }

        .skills {
          span {
            transform: translate(0, 0);
            margin: 2.5rem 1rem;
            font-size: 1.3rem;
          }
        }

        .image {
          height: 36.9rem;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            transform: scale(100%);
          }
        }
      }
      .container {
        &:nth-child(1) {
          padding: 5rem 0 0 0;
          display: flex;
          align-items: center;
          position: relative;
          overflow: hidden;
        }
      }

      .dot {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $neutral;
        display: inline-block;
        margin-right: 3rem;
        transform: translate(-3rem, 0%);
        transition: all 0.5s ease;
      }

      h3 {
        display: inline;
        transform: translate(-2rem, 0%);
        transition: all 0.5s ease;
      }

      .skills {
        display: block;
        margin-left: 3rem;
        overflow: hidden;

        span {
          color: $white;
          border: 1px solid $white;
          border-radius: 2rem;
          padding: 1rem 2rem;
          display: inline-block;
          margin: 0.5rem 1rem;
          transform: translate(0, 125%);
          transition: all 0.5s ease;
          transition-delay: calc(0.05s * var(--i));
        }
      }

      .image {
        width: 40%;
        height: 0%;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 0;
        // background-image: url('images/zenpad.png');
        // background-size: contain;
        transition: all 0.2s ease-in-out;
        overflow: hidden;
        .cursor {
          position: absolute;
          border: 1px solid $white;
          height: 10rem;
          width: 10rem;
          align-items: center;
          justify-content: center;
          display: flex;
          // padding: 5rem;
          border-radius: 50%;
          display: none;
          top: 0;
        }
        img {
          width: 100%;
          transform: scale(170%);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.skills-section {
  border-bottom: 1px solid $neutral2;
  .section-header .content {
    animation: marqueeRight 5s linear infinite;
  }

  .skills {
    padding: 5rem 0;
    overflow: hidden;
    div {
      margin: 5rem 0;

      @media (max-width: $small) {
        margin: 1rem 0;
      }
    }
  }

  h2 {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    @media (max-width: $small) {
      font-size: 4rem;
    }

    // overflow: hidden;

    span {
      color: $neutral;
      width: 100%;

      &:hover {
        color: $white;
      }
    }
  }
}

.contact-section {
  border-bottom: 1px solid $neutral2;
  .section-header .content {
    animation: marqueeLeft 5s linear infinite;
  }

  .section {
    border-bottom: 1px solid $neutral2;
    padding-bottom: 10rem;
  }

  .socials {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: end;

    @media (max-width: $xSmall) {
      margin: 3rem 0;
    }

    li {
      margin: 4rem 5rem;
      list-style-type: none;
      transition: all 0.3s ease;

      @media (max-width: $xSmall) {
        margin: 4rem 0;
      }

      a {
        font-size: $p-font-size;
        color: $white;
        padding: 2rem 0;
        text-decoration: none;
      }

      svg {
        margin: 0 0.9rem;
        opacity: 0;
        transform: translateX(-50%);
        transition: all 0.3s ease;
      }

      &:hover {
        transform: scale(105%);
        svg {
          margin: 0 0.9rem;
          opacity: 1;
          transform: translateX(0%);
        }
      }
    }
  }

  .footer {
    display: flex;
    width: 100%;
    position: relative;

    @media (max-width: 950px) {
      flex-direction: column-reverse;
    }

    .email-container {
      @media (max-width: 950px) {
      }
      .copy-text {
        background-color: $white;
        position: absolute;
        padding: 1rem 2rem;
        border-radius: 4rem;
        margin-left: 45rem;
        margin-top: 2.5rem;
        transform: translateX(-20%);
        opacity: 0;
        transition: all 0.3s ease;

        @media (max-width: 950px) {
          top: 5rem;
          left: 0;
          margin-left: 0;
        }

        p {
          color: black;
        }
      }

      &:hover {
        .copy-text {
          transform: translateX(0%);
          opacity: 1;
        }
      }

      .email {
        h2 {
          color: $white;
          cursor: pointer;
          position: relative;
          @media (max-width: $xSmall) {
            font-size: 4rem;
            margin-bottom: -3rem;

            &::after {
              // top: 0rem;
              top: 6.2rem;
            }
          }

          &:nth-child(1)::after {
            left: 0;
          }

          &::after {
            height: 5px;
            background-color: $white;
            content: " ";
            position: absolute;
            bottom: -4px;
            right: 0;
            width: 0%;
            transition: all 0.3s ease;
            // background: green;
          }
        }
        &:hover {
          transform: skewX(-10deg);

          h2 {
            &:nth-child(1)::after {
              width: 56%;
            }

            &::after {
              width: 100%;

              @media (max-width: 950px) {
                width: 75%;
                right: 25%;
              }
              @media (max-width: $small) {
                width: 90%;
                right: 10%;
              }
              @media (max-width: $xSmall) {
                width: 100%;
                right: 0;
              }
            }
          }
        }
        transition: all 0.3s ease;
      }
    }

    .credits {
      display: flex;
      width: 100%;
      justify-content: end;
      align-items: end;

      @media (max-width: 950px) {
        margin: 4rem -1rem;
      }

      p {
        color: $neutral2;
      }

      a {
        color: $white;
      }
    }
  }
}
